/*
  Color scheme taken from Emacs 'zenburn':
  https://github.com/bbatsov/zenburn-emacs
*/

/*
  font-family taken from http://cssfontstack.com/
*/

body {
    background-color: #3F3F3F;
    color: #DCDCCC;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype",
                 "Palatino LT STD", Georgia, serif;
}
