body {
    font-family: 'Helvetica';
    letter-spacing: -5px;
    background: #DCDCCC;
    background-size: 100%;
    color: #3F3F3F;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

h1, h2, h3, p {
    margin: 0;
}

em {
    color: #000000;
}

a {
    color: #9C6363;
    text-decoration: none;
}

div {
    cursor: pointer;
    cursor: hand;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 75px;
    line-height: 97%;
}

div.center {
    text-align: center;
}

div.imageText {
    text-shadow: 0px 0px 5px rgba(255,255,255,0.2);
}

img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
