body {
    background-color: #DCDCCC;
    color: #3F3F3F;
    font-size: 1.25em;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype",
                 "Palatino LT STD", Georgia, serif;
    line-height: 160%;
    max-width: 40em;
    margin: auto;
    padding: 0 1em;
}

header, footer {
    text-align: center;
}

a {
    color: #9C6363;
    text-decoration: none;
}

a:visited {
    color: #8C5353;
}

a:hover {
    color: #AC7373;
}

a:active {
    color: #FFFFFF;
}

pre {
    line-height: normal;
}

.spun {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.up {
    display: inline-block;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

@media  only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi) {
    body {
        font-size: 1.75em;
    }
}
